/* ------------------- */
/* Custom properties */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: #334A52;
    --clr-dark-primary: #29AFCF;
    --clr-primary: #37D2F6;
    --clr-danger: #F97599;
    --clr-success: #65B16A;
    --clr-white: #E6F4F1;
    --clr-light-success: #3CDD46;
    --clr-light-danger: #FF5E8A;

    /* font-sized */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}

@font-face {
    font-family: Helvetica-Rounded;
    src: url(../fonts/helvetica-rounded-bold.otf);
}

@font-face {
    font-family: Myanmar-Sagar;
    src: url(../fonts/MyanmarSagar.ttf);
}

/* ------------------- */
/* Reset */
/* ------------------- */

/* Box Sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ------------------- */
/* Utility classes */
/* ------------------- */
.d-none {
    display: none !important;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}
/* highlight title */
.h-title {
    color: var(--clr-dark-primary);
}

.h-d-p-text{
    color: var(--clr-primary);
}

.h-d-d-text{
    color: var(--clr-light-danger);
}

.h-d-s-text{
    color: var(--clr-light-success);
}
.h-space {
    display: inline-block;
    width: 40px;
}

.hy-text {
    font-family: Myanmar-Sagar;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.flex-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.htp-hidden {
    opacity: 0;
    visibility: hidden;
}

/* ------------------- */
/* Animations */
/* ------------------- */
@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }
    /* 50%{
        transform: translateY(20px);
    } */
    100%{
        transform: translateY(-20px);
    }
}

@keyframes fade-in-slide-left {
    0% {
        transform: translateX(-80px);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-in-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

/* ------------------- */
/* Apply UI styles */
/* ------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

.shape-shadow{
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.bulb-ani{
    /* fill: var(--clr-danger); */
    animation: up-and-down 1000ms alternate infinite ease-in-out;
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

@media (max-width:768px) {
    .hero-main {
        justify-content: flex-start;
    }
}

@media (max-width: 576px) {
    .hero-main {
        justify-content: center;
    }
}

/* ------------------- */
/* Hero Page */
/* ------------------- */
.hero-jum {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .hero-jum {
        flex-direction: column;
    }
}

@media (max-width:576px) {
    .hero-jum {
        padding: 0;
    }
}

.hero-jum .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1000ms ease-in;
}

@media (max-width: 1024px) {
    .hero-jum .hero-img > svg {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero-jum .hero-img > svg {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .hero-jum .hero-img {
        margin-bottom: 20px;
    }
    .hero-jum .hero-img > svg {
        width: 80%;
        height: 100%;
    }
}

.hero-jum .hero-cta {
    padding-left: 58px;
}

@media (max-width: 1024px) {
    .hero-jum .hero-img  {
        flex: 1;
    }
    .hero-jum .hero-cta  {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .h-space {
        display: none;
    }
    .hero-jum .hero-cta {
        padding-left: 0;
    }
}

.hero-jum .hero-title > h1 {
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    animation: fade-in-slide-left 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) both 1000ms;
}

@media (max-width: 1024px) {
    .hero-jum .hero-title > h1 {
        font-size: 2.3rem;
    }
}

@media (max-width: 576px) {
    .hero-jum .hero-title > h1 {
        font-size: 2rem;
    }
}

.hero-jum .hero-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .hero-jum .hero-btn-section {
        flex-direction: column;
    }
}

.hero-jum .hero-btn-section .hero-btn {
    border: 0;
    outline: 0;
    font-family: Helvetica-Rounded;
    cursor: pointer;
    transition: all 100ms ease-in;
}

@media (max-width: 768px) {
    .hero-jum .hero-btn-section .hero-btn {
        margin-bottom: 20px;
    }
}

.hero-jum .hero-btn-section .hero-start-btn {
    width: 195px;
    height: 59px;
    font-size: 1.5rem;
    /* background: var(--clr-primary); */
    background: linear-gradient(90deg, #37D2F6 0%, #28AECE 100%);
    color: white;
    border-radius: 50px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    animation: fade-in-slide-left 300ms ease-in 1500ms both;
}

.hero-jum .hero-btn-section .hero-btn:hover {
    transform: scale(0.965) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hero-jum .hero-btn-section .hero-btn:focus {
    opacity: 0.7 !important;
}

.hero-jum .hero-btn-section .hero-htp-btn {
    width: 135px;
    height: 33px;
    border-radius: 10px;
    border: 1px solid var(--clr-danger);
    background-color: transparent;
    color: var(--clr-danger);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: fade-in-slide-left 300ms ease-in 1900ms both;

}

.hero-footer {
    position: absolute;
    bottom: 20px;
    font-family: Helvetica-Rounded;
}

@media (max-width: 576px) {
    .hero-footer {
        position: relative;
        margin-top: 50px;
        bottom: unset;
    }
}

/* ------------------- */
/* How to play modal */
/* ------------------- */
.how-to-play {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background: rgba(51, 74, 82, 0.85);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in;
}

.how-to-play .htp-wrapper {
    position: relative;
    width: 55%;
    max-height: 540px;
    overflow: auto;
    padding: 22px 40px;
    background-color: var(--clr-dark);
    box-shadow: 0px 6px 8px 6px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    color: var(--clr-white);
}

@media (max-width: 1024px) {
    .how-to-play .htp-wrapper {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .how-to-play .htp-wrapper {
        width: 95%;
    }
}

@media (max-width: 576px) {
    .how-to-play .htp-wrapper {
        padding: 22px 10px;
    }
}

.how-to-play .close-htp-area {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.how-to-play .htp-wrapper .close-htp {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    z-index: 1000;
    cursor: pointer;
    background-color: transparent;   
}

.how-to-play .htp-wrapper .close-htp:hover .close-htp-path{
    stroke: var(--clr-light-danger);
}

.how-to-play .htp-wrapper .close-htp .close-htp-path {
    stroke: var(--clr-white);
}

.how-to-play .htp-wrapper .htp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.1rem;
    line-height: 1.3;
    font-weight: 700;
}

@media (max-width: 576px) {
    .how-to-play .htp-wrapper .htp-header {
        flex-direction: column-reverse;
        font-size: 1.5rem;
        text-align: center;
    }
}

.how-to-play .htp-wrapper .htp-header .htp-header-img {
    width: 176px;
}

.how-to-play .htp-wrapper .htp-para {
    font-family: Myanmar-Sagar;
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .how-to-play .htp-wrapper .htp-para {
        font-size: 1rem;
        margin-top: 20px;
    }
}

.how-to-play.htp-active {
    opacity: 1;
    visibility: 1;
}

.how-to-play.htp-active .htp-wrapper .htp-header > h1{
    animation: fade-in-up 300ms ease-out both 400ms;
}

.how-to-play.htp-active .htp-wrapper .htp-header .htp-header-img{
    animation: fade-in-up 300ms ease-out both 200ms;
}

.how-to-play.htp-active .htp-wrapper .htp-para{
    animation: fade-in 300ms ease-out both 600ms;
}